body {
background-color: black;
color: white;
font-family: Urbanist, sans-serif;
text-align: center;
}


a:hover {
color: gray;
}

ul {
list-style-position: inside;
}

.navbar--div {
display: flex;
margin: 2% 2%;
}

.navbar--left {
display: flex;
margin-right: auto;
}
.navbar--right {
display: flex;
}

.navbar--link {
text-decoration: none;
color: white;
margin: 2% 3%;
}

.navbar--img {
width: 40px;
border-radius: 50%;
}

.projects--list {
list-style-type: none;
}

.me_img {
width: 300px;
border-radius: 50%;
}

.home--div {
height: 600px;
}

.about--div {
display: flex;
justify-content: center;
}

.about--img {
align-self: center;
}
.about--text {
align-self: center;
}

.resume--div {
background-color: white;
width: 1000px;
margin: auto;
color: black;
}


.project--div {
padding: 2%;
}

.project--hr {
width: 15%;
border-style: dotted none none;
border-width: 10px;
border-color: gray;

}