<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body>
    <div class="about--div">
        <img class="me_img about--img" src="../static/LinkedIn_copy.jpg">
        <div class="about--info">
            <p>I am in the process of becoming a software-engineer.</p>
            <p>I graduated from Northeastern University in 2019 with a degree in Biochemistry.</p>
            <p>Fascinated by Bitcoin</p>
        </div>
    </div>

</body>

{% include "footer.html" %}

</html>