<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sydney Lehman</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/yin-yang-symbol.png">
    <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Urbanist">
</head>
<body>
    <div class="navbar--div">
        <div class="navbar--left">
        <a class="navbar--link" href="{{url_for('index')}}">Home</a>
        <a class="navbar--link" href="{{url_for('about')}}">About</a>
        <a class="navbar--link" href="{{url_for('resume')}}">Resume</a>
        <a class="navbar--link" href="{{url_for('projects')}}">Projects</a>
        </div>

        <div class="navbar--right">
            <a href="https://www.linkedin.com/in/sydneyrlehman/"><img class="navbar--img"  src="../static/linkedin.png"></a>
            <a href="https://github.com/slehman1"><img class="navbar--img" src="../static/github.png"></a>
            <a href="mailto:lehman.s@northeastern.edu?subject=Just saw your website"><img class="navbar--img"  src="../static/mail.jpg"></a>
        </div>
    </div>

</body>
</html>