<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body>
    <div class="projects--div">
        <h1>Projects</h1>
        <hr class="project--hr">
        <ul class="projects--list">
            <li>
                <div class="project--div">
                        <h3>Sudoku Solver</h3>
                            <img src="../static/sudoku_1.jpg">
                            <img src="../static/sudoku_2.jpg">
                            <p><a class="navbar--link" href="https://github.com/slehman1/Sudoku-Solver">Code</a></p>
                            <p>Languages: Python</p>
                            <p>Libraries/Frameworks: None</p>
                </div>
            </li>
            <hr class="project--hr">
            <li>
                <div class="project--div">
                    <h3>Mock E-commerce Site</h3>
                        <img src="../static/ecommerce.jpg" width="40%">
                        <p><a class="navbar--link" href="http://lehmans1.pythonanywhere.com/">Site link</a></p>
                        <p><a class="navbar--link" href="https://github.com/slehman1/ecommerce-site">Code</a></p>
                        <p>Technologies: Python, HTML, CSS</p>
                        <p>Libraries/Frameworks: Flask</p>
                </div>
            </li>
    </ul>
    </div>

</body>
{% include "footer.html" %}
</html>