<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body>
    <h1>Resume</h1>
    <div class="resume--div">
    <div>
        <h2>Skills</h2>
        <ul>
            <li>Python, JavaScript, HTML, and CSS</li>
            <li>Git, React, Flask, and SQL</li>
        </ul>
        <hr>
    </div>
    <div>
        <h2>Coursework/Projects</h2>
        <ul>
            <li>100 Days of Code: The Complete Python Pro Bootcamp for 2022 on <a href="https://www.udemy.com/course/100-days-of-code/">Udemy</a></li>
            <li>Harvard’s CS50 on <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science?delta=0">edX</a>
                , Intro to DSA on <a href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">Udacity</a>
                    , Learn JavaScript on <a href="https://scrimba.com/learn/learnjavascript">scrimba</a>
                , Learn React on <a href="https://scrimba.com/learn/learnreact">scrimba</a></li>
            <li>Sudoku solver: Python</li>
            <li>Generic Ecommerce-site: Python, HTML, CSS, Flask</li>
        </ul>
        <hr>
    </div>
    <div>
        <h2>Education</h2>
        <ul>
            <p><b>Northeastern University Class of 2019                                Boston, MA | December 2019 </b></p>
            <li>Bachelor of Science in Biochemistry, Minor: Psychology, summa cum laude</li>
        </ul>
        <hr>
    </div>
    <div>
        <h2>Work Experience</h2>
        <ul>
            <p><b>Spaulding Hospital Cambridge: Rehabilitation Aide                             Cambridge, MA | June 2018 – June 2019</b></p>
            <li>Provided quality hands-on support to Physical Therapists during therapeutic treatments of patients facing a variety of acute medical problems</li>
            <li>Led individually tailored therapeutic exercise sessions for patients in need</li>
            <li>Managed, coordinated, and repaired wheelchairs for new admissions and discharges</li>

            <p><b>Biogen: Co-op                              Cambridge, MA | January 2020 – Present</b></p>
            <li>Designed sgRNA’s against multiple targets using Benchling and then tested guide efficiency by transfection followed by Western Blot analysis</li>
            <li>Quality controlled and tested Packgene AAV preps for viral transduction efficiency in cortical neuronal cultures</li>
            <li>Maintained and organized large C57BL/6 colony, bred mice, and performed p0 ICV injections of various AAV’s</li>
            <li>Led a team in efficient large-scale mouse takedowns with mouse ID, euthanasia, and perfusion as primary responsibilities</li>
            <li>Prepared and analyzed CRISPR-KD in multiple CNS tissues using TissueLyser II and Peggy Sue</li>
            <li>Ran ELISA’s to determine CRISPR knockdown efficiency at multiple timepoints</li>
            <li>Effectively communicated with manager, presented at group meetings, and maintained a detailed lab notebook throughout co-op</li>

            <p><b>Morphic Rock Therapeutics: Co-op                                Waltham, MA | June 2017 - December 2017</b></p>
            <li>Maintained multiple mammalian cell cultures simultaneously, passaged cells and transfected them</li>
            <li>Performed RNA Isolation on cell cultures, created cDNA and ran qPCR. Analyzed ΔCt and fold changes in Prism</li>
            <li>Determined integrin expression in various cell lines using Macsquant flow cytometer. Analyzed results in FlowJo</li>
            <li>Characterized integrin expression in cell lines across multiple time points using Western Blots and Simple Wes</li>
            <li>Transformed NEB5-α E. coli with a Cumate inducible system. Isolated plasmids using Qiagen Maxi prep. Transfected SV40 SAEC and HEK-293 with vector; tested leakiness and inducibility of the system using FACS and Simple Wes.</li>
            <li>Aided in construction of a custom plasmid using restriction nucleases, Gibson Assembly, PCR, Gel electrophoresis, and Gel extractions</li>

        </ul>
        <hr>
    </div>

        <div>
        <h2>Publications</h2>
        <ul>
            <li>Use of CRISPR/Cas9-mediated disruption of CNS cell type genes to profile transduction of AAV by neonatal intracerebroventricular delivery in mice. Gene Therapy (2021)</li>
            <p><a href="https://www.nature.com/articles/s41434-021-00223-3">Paper link</a></p>
            <li>In vivo genome editing using novel AAV-PHP variants rescues motor function deficits and extends survival in a SOD1-ALS mouse model. Gene Therapy (2022)</li>
            <p><a href="https://www.nature.com/articles/s41434-022-00375-w">Paper link</a></p>
        </ul>
        <hr>

    </div>
    </div>

</body>

{% include "footer.html" %}
</html>